@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Red Hat Display', sans-serif !important;
    }
}

@layer components {
    .container {
        @apply max-w-[1080px] mx-auto;
    }
}
